


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbe9f6;
}

.app-container {
    margin: 20px;
    background-color: white;
    border-radius: 30px;
  height: auto;
display: flex;

    flex-direction: column; /* Default mobile layout: sidebar on top */
}

/* Desktop/Tablet View */
@media (min-width: 768px) {
    .app-container {
        flex-direction: row; /* Sidebar on left, dashboard on right */
    }
}


